<%- include("../blocs/header-view") %>

<a href="" id="home"></a>
<section>
    <div class="container header__container">
        <h1>Justin Gaultier</h1>
        <h5 class="text-light2">Alternance développement web</h5>
    </div>
</section>
<a href="" id="profil"></a>
<section>
    <div class="container header__container">
        <h5 class="text-light">Qui suis-je ?</h5>
        <h2>Présentation :</h2>
    </div>
    <div class="card">
        <img src="/assets/Img/pp2.gif" alt="">
        <div class="card_content first">
            <p> Bonjour ! Passionné d’informatique depuis 6 ans, je suis actuellement en 2ème année de BTS SIO option
                SLAM
                (Services Informatiques aux Organisation). Je suis à la recherche d’une alternance en tant que
                Concepteur Développeur d’Applications pour l'année scolaire 2022 - 2023.</p>
        </div>
    </div>
</section>
<a href="" id="study"></a>
<section>
    <div class="container header__container">
        <h5 class="text-light">Mon parcours</h5>
        <h2>Mes experiences</h2>

        <div class="grid">
            <div class="grid-row1">
                <button class="grid-button"><a class="nodeco" href="https://www.linkedin.com/in/justin-gaultier-07318b221" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</button></a>
                <button class="grid-button"><a href="https://github.com/NitsuGG" target="_blank" class="nodeco"><i class="fa-brands fa-github"></i> Github</button></a>
                <button class="grid-button"><i class="fa-solid fa-download"></i> Mon CV</button>
            </div>
            <div class="grid-row4">
                <div class="grid-exp">
                    <h3><i class="fa-solid fa-globe"></i> Stage</h3>
                    <li class="exp">Envie de voyage Janvier 2022
                    <li style="padding:0 0 0 20px;"> Maintenance</li>
                    <li style="padding:0 0 0 20px;"> Wordpress</li>
                    <li style="padding:0 0 0 20px;"> PHP</li>
                    <li style="padding:0 0 0 20px;"> CSS</li>
                    </li>
                    <br>
                    <li class="exp">FMER Septembre 2020
                    <li style="padding:0 0 0 20px;"> Arduino</li>
                    <li style="padding:0 0 0 20px;"> C++</li>
                    </li>
                </div>
            </div>
            <div class="grid-row5">
                <div class="grid-exp">
                    <h3><i class="fa-solid fa-graduation-cap"></i> Formation</h3>
                    <li class="exp">BTS SIO SLAM
                    <li style="padding:0 0 0 20px;"> Lycée Saint Notre Dame de la Paix</li>
                    <li style="padding:0 0 0 20px;"> Lorient</li>
                    <li style="padding:0 0 0 20px;"> 2021 - 2022</li>
                    </li>
                    <br>
                    <li class="exp">BTS SNIR 2021
                    <li style="padding:0 0 0 20px;"> Lycée Saint Joseph la Salle</li>
                    <li style="padding:0 0 0 20px;"> Lorient</li>
                    <li style="padding:0 0 0 20px;"> 2019 - 2021</li>
                    </li>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="" id="skills"></a>
<section>
    <div class="container header__container">
        <h5 class="text-light">Compétences acquise en cours ou sur mon temps libre</h5>
        <h2>Mes Compétences</h2>
        <h3 id="front">Front-End Web</h3>
    </div>
    
    <div class="wrapper">
        <div class="center-line">
            <a href="#front" class="scroll-icon"><i class="fa-solid fa-caret-up"></i></a>
        </div>

        <div class="row-lang">
            <section>
                <i class="icon fa-brands fa-html5"></i>
                <div class="lang-details">
                    <span class="lang-title">HTML</span>
                </div>
                <p>J'ai appris le HTML en cours, dans le cadre de mes années Lycée en STI2D</p>
            </section>
        </div>

        <div class="row-lang">
            <section>
                <i class="icon fa-brands fa-css3-alt"></i>
                <div class="lang-details">
                    <span class="lang-title">CSS</span>
                </div>
                <p>Dans la suite de ma formation, j'ai appris les bases du CSS que j'approfondit encore aujourd'hui.</p>
            </section>
        </div>
        
        <div class="row-lang">
            <section>
                <i class="icon fa-brands fa-js"></i>
                <div class="lang-details">
                    <span class="lang-title">JavaScript</span>
                </div>
                <p>J'ai appris à utiliser le JavaScript récemment sur mon temps personnel car c'est pour moi un langage qui est très utile pour de nombreuses choses que ça sois en front ou en back, mais que je n'ai pas appris en cours </p>
            </section>
        </div>

        <div class="row-lang">
            <section>
                <i class="icon fa-brands fa-wordpress"></i>
                <div class="lang-details">
                    <span class="lang-title">Wordpress</span>
                </div>
                <p>Mon stage de BTS m'a permis de découvrire et d'apprendre à utiliser Wordpress ainsi que plusieurs de ses modules comme Woocommerce par exemple</p>
            </section>
        </div>
    </div>
    <br>
    <!-- ==================Backend============================= -->
    <div class="container header__container">
        <h3 id="back">Back-End Web</h3>
    </div>
    <div class="wrapper">
        <div class="center-line">
            <a href="#back" class="scroll-icon"><i class="fa-solid fa-caret-up"></i></a>
        </div>

        <div class="row-lang">
            <section>
                <i class="icon fa-brands fa-php"></i>
                <div class="lang-details">
                    <span class="lang-title">PHP</span>
                </div>
                <p>PHP à été le premier langage Back-End que j'ai appris et avec le quel j'ai fait le plus de projet, comme pour mon bac STI2D ou encore pour mon BTS. C'est aussi sur ce langage que j'ai appris à utiliser le MVC ou encore à sécurisé des sites internet </p>
            </section>
        </div>

        <div class="row-lang">
            <section>
                <i class="icon fa-solid fa-database"></i>
                <div class="lang-details">
                    <span class="lang-title">SQL</span>
                </div>
                <p>L'utilisation de base de donnée est primordiale, j'ai principalement utilisé MariaDB sur mes projets. J'ai commencé il y a pas longtemps à utiliser SQL Server</p>
            </section>
        </div>
        
        <div class="row-lang">
            <section>
                <i class="icon fa-brands fa-node-js"></i>
                <div class="lang-details">
                    <span class="lang-title">NodeJS</span>
                </div>
                <p>Suite à l'apprentissage du JavaScript, j'ai décidé d'apprendre à utiliser NodeJS afin de faire mes premières applications web entierement en JavaScript. J'ai appris en auto-formation graçe au tutoriel de Grafikart. </p>
            </section>
        </div>
    </div>

    <!-- ====================Autres langages================================ -->
    <br>
    <div class="container header__container">
        <h3 id="otherlang">Autres Langages</h3>
    </div>
    <div class="wrapper">
        <div class="center-line">
            <a href="#otherlang" class="scroll-icon"><i class="fa-solid fa-caret-up"></i></a>
        </div>

        <div class="row-lang">
            <section>
                <i class="icon fa-brands fa-python"></i>
                <div class="lang-details">
                    <span class="lang-title">Python</span>
                </div>
                <p>Lors de mon premier BTS, j'ai appris les bases du Python graçe à plusieurs petit projets comme des lecteurs rfid</p>
            </section>
        </div>

        <div class="row-lang">
            <section>
                <i class="icon fa-solid fa-c"></i>
                <div class="lang-details">
                    <span class="lang-title">Langage C et C++</span>
                </div>
                <p>En cours et en stage j'ai utiliser le C et le C++ sur plusieurs projets. Notament avec Arduino sur un simulateur de vibration ou encore avec differents exercice </p>
            </section>
        </div>
        
        <div class="row-lang">
            <section>
                <i class="icon fa-brands fa-java"></i>
                <div class="lang-details">
                    <span class="lang-title">Java</span>
                </div>
                <p>J'ai appris et utilisé le Java cette année pour 2 projets. Le premier étant un projets pour la validation du BTS SIO (projet GSB) qui était une application et une application android qui était sur le même thème mais pour la version mobile.</p>
            </section>
        </div>
    </div>

</section>

<a href="" id="projects"></a>
<div class="container header__container">
    <h5 class="text-light">Projets effectuer en cours et sur mon temps libre</h5>
    <h2>Mes Projets</h2>
</div>
<section id="projects" style="margin-bottom: 200px;">
    <div class="glass-card">
        <img src="./assets/img/BTS.jpg" alt="Projet de BTS" class="glass-img">
        <h3>Projet GDiPEE</h3>
        <p class="card-text">
            Dans le cadre de mon BTS SNIR j’ai réalisé un site pour le service pôle environement de la mairie de Lorient
        </p>
    </div>
    <div class="glass-card">
        <img src="./assets/img/tartinenews.jpg" alt="Projet TartineNews" class="glass-img">
        <h3>TartineNews</h3>
        <p class="card-text">
            TartineNews est un site réalisé pour une streameuse afin d’avoir un lieu pour lire les résumés de ses
            lives.
        </p>
    </div>
    <div class="glass-card">
        <img src="./assets/img/gsb.png" alt="Projet GSB" class="glass-img">
        <h3>Projet GSB</h3>
        <p class="card-text">
            J'ai effectuer plusieurs projet autour du cas GSB lors de mon BTS SIO comme un site internet (PHP MVC et NodeJS)
        </p>
    </div>
</section>

<script src="./assets/js/ActiveTabs.js"></script>

<%- include("../blocs/footer-view") %>