<%- include("../blocs/header-view") %>

<a href="" id="home"></a>
<section>
    <div class="container header__container">
        <h1>Justin Gaultier</h1>
        <h5 class="text-light">Alternance développement web</h5>
    </div>
    <div class="card">
        <img src="/assets/Img/pp.png" alt="">
        <div class="card_content first">
            <h2>Présentation :</h2>
            <p> Bonjour ! Passionné d’informatique depuis 6 ans, je suis actuellement en 2ème année de BTS SIO option SLAM
                (Services Informatiques aux Organisation). Je suis à la recherche d’une alternance en tant que 
                Concepteur Développeur d’Applications pour l'année scolaire 2022 - 2023.</p>
        </div>
    </div>

</section>
<a href="" id="profil"></a>
<section>
    <div class="container header__container">
        <h5 class="text-light">Mon parcours</h5>
        <h2>Mes experiences</h2>

        <div class="grid">
            <div class="grid-row1"><button class="grid-button"><a class="nodeco" href="https://www.linkedin.com/in/justin-gaultier-07318b221" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</button></a></div>
            <div class="grid-row2"><button class="grid-button"><a href="https://github.com/NitsuGG" target="_blank" class="nodeco"><i class="fa-brands fa-github"></i> Github</button></a></div>
            <div class="grid-row3"><button class="grid-button"><i class="fa-solid fa-download"></i> Mon CV</button></div>
            
            <div class="grid-row4">
                <div class="grid-exp">
                    <li>azeezaazea</li>
                    <li>azeezaazea</li>
                    <li>azeezaazea</li>
                    <li>azeezaazea</li>
                    <li>azeezaazea</li>
                    <li>azeezaazea</li>
                    <li>azeezaazea</li> 
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card_content">
            azeaze
        </div>
    </div>


</section>
<a href="" id="skills"></a>
<a href="" id="projects"></a>
<%- include("../blocs/footer-view") %>