<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1920, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/c9b13e8130.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css">

    <title>Justin Gaultier</title>
</head>
<body>
    <nav>
        <a href="#home" class="active"><i class="fa-solid fa-house-user"></i></a>
        <a href="#profil"><i class="fa-regular fa-user"></i></a>
        <a href="#skills"><i class="fa-solid fa-book"></i></a>
        <a href="#projects"><i class="fa-solid fa-suitcase"></i></a>
    </nav>
